:root {
  --color-green: #758552;
  --color-border-green: #57ad52;
  --color-blue: #b5d2d0;
  --color-border-blue: #3a7dc6;
  --color-white: #ffffff;
  --color-yellow: #9d9d36;
  --color-lightGreen: #93d02a;
  --color-grey: #505455;
  --color-red: #e12020;
}